<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<footer id="footer">
  <div class='f2'><h3>Contact</h3><h6>Neem gerust contact op.</h6><p>Telefoon: 0172 6056 24</p><p>Mail: info@chantemerle.nl -- <a href='#'>Meer..</a></p></div>  <div class='f2'><h3>Hallo, welcome</h3><p>Wij hebben deze site gebouwd, omdat wij meer wilde vertellen over ons huis.</p><p>Groet! Anthony</p></div>
  <nav class="vertical-menu">
    <a routerLink="/home">Home</a>
    <a routerLink="/over">Over</a>
    <a routerLink="/foto">Media</a>
    <a routerLink="/contact">Contact</a>
  </nav>

  <div id="info">

  </div>

</footer>
