
<article class="articlemiddle">
  <h3>Foto's van het huis op burgemeester visserpark 16</h3>


  <!-- Slideshow container -->
  <div class="slideshow-container">


    <div class="mySlides fade">
      <div class="numbertext">1 / 29</div>
      <img src="../img/1.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 29</div>
      <img src="../img/2.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 29</div>
      <img src="../img/3.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">4 / 29</div>
      <img src="../img/4.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">5 / 29</div>
      <img src="../img/5.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <div class="numbertext">6 / 29</div>
      <img src="../img/6.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <div class="numbertext">7 / 29</div>
      <img src="../img/7.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <div class="numbertext">8 / 29</div>
      <img src="../img/8.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <div class="numbertext">9 / 29</div>
      <img src="../img/9.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">10 / 29</div>
      <img src="../img/10.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">11 / 29</div>
      <img src="../img/11.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">12 / 29</div>
      <img src="../img/12.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">13 / 29</div>
      <img src="../img/13.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">14 / 29</div>
      <img src="../img/14.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">15 / 29</div>
      <img src="../img/15.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">16 / 29</div>
      <img src="../img/16.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">17 / 29</div>
      <img src="../img/17.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">18 / 29</div>
      <img src="../img/18.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">19 / 29</div>
      <img src="../img/19.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">20 / 29</div>
      <img src="../img/20.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">21 / 29</div>
      <img src="../img/21.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">22 / 29</div>
      <img src="../img/22.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">23 / 29</div>
      <img src="../img/23.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">24 / 29</div>
      <img src="../img/24.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">25 / 29</div>
      <img src="../img/25.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">26 / 29</div>
      <img src="../img/26.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">27 / 29</div>
      <img src="../img/27.jpg" style="width:100%">

    </div>
    <div class="mySlides fade">
      <div class="numbertext">28 / 29</div>
      <img src="../img/28.jpg" style="width:100%"> div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">29 / 29</div>
      <img src="../img/29.jpg" style="width:100%">

    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>



  <br>


</article>
