
<div class="header-firstnav sticky-top">


  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" role="navigation">
    
      <a href="img/logo.png">
        <img class="logo" src="../assets/img/logo.png" alt="logo" />
      </a>
      <nav class="navbar">
        <a routerLink="/home">Home</a>
        <a routerLink="/omschrijving">Omschrijving</a>

        <a routerLink="/indeling">Indeling</a>


        <a routerLink="/foto">Foto's</a>
        <a routerLink="/video">Video's</a>

        <a routerLink="/maps">Maps</a>

        <a routerLink="/kamers">Reserveer</a>
        <a *ngIf="isLoggedIn"routerLink="/profile">Profiel</a>
        <a *ngIf="isLoggedIn==false"class="glyphicon glyphicon-log-in" routerLink="/login"> Login</a>
        <a class="glyphicon glyphicon-user" routerLink="/register"> Register</a>
        <a style="float:right" routerLink="/contact">Contact</a>
        <a *ngIf="isLoggedIn" (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
      </nav>

  </nav>
</div>
