<div class="topBar">
  <a href="img/logo.png">
    <img class="logo" src="img/logo.png" alt="logo" />
  </a>
  <nav class="navbar">
    <a routerLink="/home" id="active">Home</a>
    <div class="subnav">
      <button class="subnavbtn">Over<i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a routerLink="/omschrijving">Omschrijving</a>

        <a routerLink="/indeling">Indeling</a>
        <a routerLink="/kenmerken">Kenmerken</a>

      </div>
    </div>
    <div class="subnav">
      <button class="subnavbtn">Media<i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a routerLink="/foto">Foto's</a>
        <a routerLink="/video">Video's</a>
        <a routerLink="/maps">GoogleMaps</a>
      </div>
    </div>

    <a style="float:right" routerLink="/contact">Contact</a>

  </nav>
</div>
