<app-huis></app-huis>


<div *ngFor="let value of contactInfoDataFromServer">
  <article class="articlemiddle">
    <h3>Contact Opnemen</h3>

    <div *ngIf="showInputFields ==false">


      <h4> {{value.house_nickname}} </h4>

      <p>Plaats: {{value.place}}</p>

      <p>Address:  {{value.address}}</p>


      <p>Postcode:  {{value.postal_code}}</p>

      <br>

      <h4>Family {{value.family_name}}</h4>


      <p>Mail: {{value.mail}}</p>


      <p> Telefoon: {{value.telephone}}</p>

    </div>


    <form *ngIf="showInputFields" class="login100-form validate-form" (submit)="submitNewContactDetails($event)">

      


        <input class="form-group" type="text" value={{value.house_nickname}} id="houseNickname">

        <input class="form-group" type="text" value={{value.place}} id="place">

        <input class="form-group" type="text" value={{value.address}} id="address">


        <input class="form-group" type="text" value={{value.postal_code}} id="postalCode">

        <br>

        <input class="form-group" type="text" value={{value.family_name}} id="familyName">


        <input class="form-group" type="text" value={{value.mail}} id="mail">


        <input class="form-group" type="text" value={{value.telephone}} id="telephone">
   

      <input class="btn btn-lg btn-outline-primary" id="button" type='submit' value="Update Contact Page">

    </form>

  </article>
</div>
