<div class="f">
  <br>
  <app-header></app-header>

  <app-navbar></app-navbar>
  <br>
  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>


<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-109084231-1', 'auto');
  ga('send', 'pageview');
</script>
