<app-huis></app-huis>
<article class="articleleft">

  <h3>Kenmerken</h3>
  <button class="collapsible">Overdracht</button>
  <div class="content">
    <table>

      <tr>
        <td>Laatste vraagprijs</td>
        <td>€ 1.250.000 k.k.</td>
      </tr>
      <tr>
        <td>Oorspronkelijke vraagprijs</td>
        <td>€ 1.495.000 k.k.</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>Verkocht</td>
      </tr>
    </table>
  </div>
  <button class="collapsible">Bouw</button>
  <div class="content">
    <table>
      <tr>
        <td>Soort woonhuis</td>
        <td>Landhuis, vrijstaande woning</td>
      </tr>
      <tr>
        <td>Soort bouw</td>
        <td>Bestaande bouw</td>
      </tr>
      <tr>
        <td>Bouwjaar</td>
        <td>1940</td>
      </tr>
    </table>
  </div>
  <button class="collapsible">Oppervlakt en inhoud</button>
  <div class="content">
    <table>

      <tr>
        <td>Wonen</td>
        <td>330 m²</td>
      </tr>
      <tr>
        <td>Overige inpandige ruimte</td>
        <td>36 m²</td>
      </tr>
      <tr>
        <td>Gebouwgebonden buitenruimte</td>
        <td>16 m²</td>
      </tr>

      <tr>
        <td>Perceel</td>
        <td>1.405 m²</td>
      </tr>
      <tr>
        <td>Inhoud</td>
        <td>1.430 m³</td>
      </tr>

    </table>
  </div>
  <button class="collapsible">Indeling</button>
  <div class="content">
    <table>
      <tr>
        <td>Aantal kamers</td>
        <td>10 kamers (5 slaapkamers)</td>
      </tr>
      <tr>
        <td>Aantal woonlagen</td>
        <td>3 woonlagen</td>
      </tr>
      <tr>
        <td>Voorzieningen</td>
        <td>Rookkanaal</td>
      </tr>

    </table>
  </div>
  <button class="collapsible">Energie</button>
  <div class="content">
    <table>
      <tr>
        <td>Voorlopig energielabel</td>
        <td>G <a href="https://www.funda.nl/thuis/kopen/wat-heb-je-aan-een-energielabel/">Wat betekent dit?</a></td>
      </tr>
      <tr>
        <td>Verwarming</td>
        <td>Cv-ketel</td>
      </tr>
      <tr>
        <td>Cv-ketel</td>
        <td>Eigendom</td>
      </tr>

    </table>
  </div>
  <button class="collapsible">Kadastrale gegevens</button>

  <div class="content">
    <table>
      <tr>
        <td>ALPHEN AAN DEN RIJN C 5181</td>
        <td><a href="https://www.funda.nl/koop/verkocht/alphen-aan-den-rijn/huis-40525844-burgemeester-visserpark-16/kadaster/">Kadastrale kaart</a></td>
      </tr>
      <tr>
        <td>Oppervlakte</td>
        <td>1.405 m²</td>
      </tr>
      <tr>
        <td>Eigendomssituatie</td>
        <td>Volle eigendom</td>
      </tr>

    </table>
  </div>
  <button class="collapsible">Buitenruimte</button>
  <div class="content">

    <table>
      <tr>
        <td>Ligging</td>
        <td>Aan park, in centrum, in woonwijk, vrij uitzicht en beschutte ligging</td>
      </tr>
      <tr>
        <td>Tuin</td>
        <td>Tuin rondom</td>
      </tr>
      <tr>
        <td>Eigendomssituatie</td>
        <td>Volle eigendom</td>
      </tr>

    </table>
  </div>
  <button class="collapsible">Garage</button>
  <div class="content">

    <table>
      <tr>
        <td>Soort garage</td>
        <td>Parkeerplaats</td>
      </tr>

    </table>
  </div>
</article>

<article class="articleright">

  <h3>SFEERVOL VRIJSTAAND LANDHUIS</h3>
  <p>
    <ul>
      <li>Karaktervolle, stijlvolle architectuur</li>
      <li>Hoge vertrekken, gave vloeren, muren en plafonds en schitterend glas in lood werk</li>
      <li>Veel leefruimte binnen en buiten met optimale privacy</li>
    </ul>
</article>
