body {
  padding: 30px;
  position: relative
}

  body .bs-datepicker-container .bs-datepicker-head {
    background-color: #fff;
  }

    body .bs-datepicker-container .bs-datepicker-head * {
      color: #000;
    }
