/* You can add global styles to this file, and also import other style files */


@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~glyphicons-only-bootstrap/css/bootstrap.min.css';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';

body, html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  width: 100%;

}





/* You can add global styles to this file, and also import other style files */

.myCustomModalClass .modal-dialog {
  max-width: 1000px;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

  .modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
h1 {
  text-align: center;
  margin-bottom: 2ex;
}


form {
  display: inline-block;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}


.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}



.wrap-login100 {
  border-radius: 3px;
  border-color: #5688A5;
  text-align: center;
  width: 390px;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-backdrop-transparent {
  background-color: transparent;
}


 
