<app-huis></app-huis>
<article class="articleleft">
  <h3>
    Le Chantemerle
  </h3>
  <app-description-child></app-description-child>
</article>

<article class="articleright">
  <app-contact-sub></app-contact-sub>
</article>

<article class="articleright">

  <h3>Nieuws</h3>
  <ul>
    <li>
      9 juli 2019 zijn wij begonnen met het bouwen van deze website.
    </li>
  </ul>

</article>

<article class="articleleft">
  <h3>Genieten mee met ons in Alphen aan den Rijn</h3>
  <p>
    Diverse activiteiten in de omgeving Zowel jong als oud kan zich uitstekend vermaken in de omgeving van Alphen aan den Rijn. Zo zijn er in de nabij omgeving diverse recreatiegebieden, parken en zwembaden. Wilt u vooral tot rust komen, dan kunt u heerlijk gaan picknicken, een eindje fietsen of shopen in het centrum. Ook voor de sportliefhebbers zijn er voldoende activiteiten in de omgeving, zoals watersporten, tennisen en paardrijden. Het is maar net wat uw wensen zijn!
  </p>
</article>


