<app-huis></app-huis>
<article class="articleleft">
  <h3>
    Le Chantemerle
  </h3>
  <p>
    Dit prachtige vrijstaande landhuis doet zijn naam “Chantemerle” (de Zingende Merel) absoluut eer aan. De ligging aan het grote park van het Burgemeester Visserpark is een van de mooiste locaties van Alphen aan den Rijn en is gekend om zijn monumentale villa’s en het “Oude Raadhuis”. Door de centrale ligging van dit pand kunt u binnen 3 minuten wandelend in het centrum zijn. Onder meer het Bospark met gezellige kinderboerderij, het theater, bioscopen, restaurants, tennisbanen, diverse scholen en het NS station zijn eveneens op loopafstand. Binnen enkele minuten bent u met de auto op de diverse uitvalswegen voor Den Haag, Utrecht, Leiden en luchthaven Schiphol is op ca. 20 minuten afstand. De riante volgroeide tuin rondom en de sfeervolle uitstraling zowel binnen als buiten maken dat u hier graag thuiskomt.
  </p>
</article>

<article class="articleright">
  <h3>
    Offerte of vragen?
  </h3>
  <p>
    Bel nu -- 0172 6056 24 !! -- <a href="#">Meer..</a>
  </p>
</article>

<article class="articleright">

  <h3>Nieuws</h3>
  <ul>
    <li>
      9 juli 2019 zijn wij begonnen met het bouwen van deze website.
    </li>
  </ul>

</article>

<article class="articleleft">
  <h3>Genieten mee met ons in Alphen aan den Rijn</h3>
  <p>
    Diverse activiteiten in de omgeving Zowel jong als oud kan zich uitstekend vermaken in de omgeving van Alphen aan den Rijn. Zo zijn er in de nabij omgeving diverse recreatiegebieden, parken en zwembaden. Wilt u vooral tot rust komen, dan kunt u heerlijk gaan picknicken, een eindje fietsen of shopen in het centrum. Ook voor de sportliefhebbers zijn er voldoende activiteiten in de omgeving, zoals watersporten, tennisen en paardrijden. Het is maar net wat uw wensen zijn!
  </p>
</article>


