

  <div class="container bg-faded py-3">

    <div class="row">

      <div class="col-3 mx-auto">
        <div class="card card-body mb-2">

          <!-- 2. datepicker in the popup -->
          <input type="text"
                 placeholder={{arrival}}
                 class="input-mini dates"
                 [datesDisabled]="isDisabledFrom"
                 (dateSelect)="onDateSelect($event)" id="arrival" bsDatepicker>

        </div>


      </div>

      <div class="col-3 mx-auto">
        <div class="card card-body mb-2">



          <!-- 2. datepicker in the popup -->
          <input type="text"
                 placeholder={{departure}}
                 class="input-mini dates"
                 [datesDisabled]=" isDisabledTill"
                 (dateSelect)="onDateSelect2($event)" id="departure" bsDatepicker>


        </div>
      </div>

    </div>
    <hr>

    <div class="row">
      <div class="col-3 mx-auto">
        <div class="card card-body mb-2">

          <p>
            Kamer nummer :
            <select [(ngModel)]="selected">
              <option *ngFor="let title of reservationDataFromServer"
                      [value]="title.id"
                      [attr.selected]="selected.id==title.id ? true : null">
                {{title.id}}
              </option>
            </select>

          </p>

        </div>
      </div>

    </div>


    <div class="col-3 mx-auto">
      <div class="card card-body mb-2">
        <p>Elke maand : <input type="checkbox" id="checkbox"></p>
      </div>
    </div>

    <div class="col-3 mx-auto">
      <div class="card card-body mb-2">
        <form (submit)="openSubmit($event)">






          <div class="form-group">
            <input type="text" class="form-control" id="price" placeholder="Prijs">
          </div>



          <input class="btn btn-lg btn-outline-primary" id='loginButton' type="submit" value="Opslaan">

        </form>



      </div>
    </div>

  </div>


