
  <div class="container container-fluid">
    <h2>Reserveer!</h2>

    <button *ngIf="showInputFields" type="button" class="btn btn-success btn-number" (click)="addRoom()">
      <span class="glyphicon glyphicon-plus"> Kamer</span>
    </button>

    <button *ngIf="showInputFields" type="button" class="btn btn-success btn-number" (click)="clickPopUp()">
      <span class="glyphicon glyphicon-plus"> Reservering</span>
    </button>


    <hr>
    <div class="table-responsive table-striped">
      <table class="table">
        <thead>
        <th class="col-4" scope="col">Afbeelding</th>
        <th class="col-4" scope="col">Aantal bedden</th>
        </thead>
        <tbody>

          <tr class="row-12" *ngFor="let value of reservationDataFromServer"
              [ngStyle]="{backgroundColor: selected == value ? '#F2F2F2': 'transparent'}">

            <td class="col-md-2">
              <img (click)="click(value)" src="{{value.img}}" />
            </td>

   

            <div *ngIf="showInputFields ==false">

              <td class="col-md-2" (dblclick)="click(value)">
                {{ value.amount_of_beds }}
              </td>

            </div>

            <div *ngIf="showInputFields">

              <td class="col-md-2">
                <input class="form-group" type="text" placeholder={{value.amount_of_beds}} id="amount_of_beds">
              </td>



              <td class="col-md-2">
                <input type="file" (change)="fileChange($event, value)" placeholder="Verander afbeelding" accept=".jpg, .png, .gif, .webp, .svg, .ico, .cur, .bmp, .jpeg, .jfif, .pjpeg, .pjp">

              </td>
              <td class="col-md-2"><button type="button" class="btn btn-success" (click)="openSubmit(value, $event)"><span class="glyphicon glyphicon-floppy-disk"></span>Update room</button></td>

              <td class="col-md-2"><button type="button" class="btn btn-danger" (click)="open(value)"><span class="glyphicon glyphicon-trash"></span>Remove room</button></td>
            </div>

            
          </tr>
        </tbody>
      </table>
    </div>
  </div>


