
<div class="container container-fluid">
  <h2>Reserveer!</h2>
  <hr>
  <div class="table-responsive table-striped">
    <table class="table">
      <thead>
      <th class="col-4" scope="col">Image</th>
      <th class="col-4" scope="col">Name</th>
  
      </thead>
      <tbody>

        <tr class="row-12" *ngFor="let value of reservationDataFromServer"
            (click)="setSelected(value)"
            [ngStyle]="{backgroundColor: selected == value ? '#F2F2F2': 'transparent'}">
          <td class="col-md-2" >
            <img class="rounded-circle"  (dblclick)="click(value)" src="{{value.img}}" />
          </td>
          <td class="col-md-2" (dblclick)="click(value)">
            {{ value.name }}
          </td>
      
          <td class="col-md-2"><button class="btn btn-lg btn-outline-primary" (click)="open(value)">add to cart</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

